<body class="d-flex flex-column min-vh-100 bg-gray">
    <nav class="d-flex align-items-center fixed-top shadow bg-white nav-bar">
        <div class="container-fluid">
            <div class="row">
                <!-- Search Container -->
                <section class="col d-flex align-items-center">
                <!-- BookHub logo -->
                <a href="/user-feed"><i class="fa-solid fa-book-bookmark text-success fs-3rem"></i></a>
                <!-- search bar -->
                <div class="input-group ms-2">
                    <div class="input-group-text bg-warning border-warning search-shape search-size">
                    <i class="fas fa-search me-2 text-success"></i>
                    <input id="searchBar" type="text" 
                    class="border-0 bg-warning d-block m-0 fs-p8rem 
                    fw-bold text-success input-size" 
                    placeholder="Search BookHub"></input>
                    <button id="search-btn" class="btn rounded btn-success">Search</button>
                    </div>
                </div>
                </section>
                <!-- profile-items -->
                <section class="col d-flex align-items-center justify-content-end">
                <!-- profile-picture -->
                <div class="align-items-center justify-content-center d-none d-sm-flex">
                    <img src="/assets/images/nerd-emoji.png" class="profile-picture rounded-circle me-2"
                    alt="profile-picture" />
                    <h3 class="m-0">{{first_name}} {{last_name}}</h3>
                </div>
                <!-- user-menu -->
                <div class="rounded-circle p-1 bg-gray d-flex 
                    align-items-center justify-content-center mx-2 user-dropdown-button"
                    type="button" id="secondMenu" data-bs-toggle="dropdown"
                    aria-expanded="false" data-bs-auto-close="outside">
                    <i class="fas fa-caret-down"></i>
                </div>
                <!-- user-menu dropdown -->
                <ul class="dropdown-menu user-menu border-0 shadow p-3" aria-labelledby="secondMenu">
                    <!-- Profile -->
                    <li class="dropdown-item p-1 rounded d-flex" type="button">
                    <a href="/user-profile"> 
                        <img src="/assets/images/nerd-emoji.png" alt="profile-picture" class="profile-picture rounded-circle me-2"/>
                        <div>
                            <p class="m-0">{{first_name}} {{last_name}}</p>
                            <p class="m-0 text-muted">Your profile</p>
                        </div>
                    </a>   
                    </li>
                    <!-- Friends -->
                    <li class="dropdown-item p-1 rounded" type="button">
                    <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
                        <div class="p-2">
                        <i class="fa-solid fa-user-group"></i>
                        </div>
                        <div>
                        <p class="m-0">Friends</p>
                        </div>
                    </a>
                    </li>
                    <!-- Book Clubs -->
                    <li class="dropdown-item p-1 rounded" type="button">
                    <a href="/bookclub-page" class="d-flex align-items-center text-decoration-none text-dark">
                        <div class="p-2">
                        <i class="fa-solid fa-book"></i>
                        </div>
                        <div>
                        <p class="m-0">Book Clubs</p>
                        </div>
                    </a>
                    </li>
                    <!-- Log out -->
                    <li class="dropdown-item p-1 rounded" type="button">
                    <a id="logout" class="d-flex align-items-center text-decoration-none text-dark">
                        <div class="p-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </div>
                        <div>
                        <p class="m-0">Log Out</p>
                        </div>
                    </a>
                    </li>
                </ul>
                </section>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
                
            <div class="text-center mt-3">
                <h1 class="mt-2 mb-0">{{first_name}} {{last_name}}</h1>
                <img src="./assets/images/guy_not_reading.png" alt="">



                <h3 class="h2 mb-0">About Me</h3>
                    <div class="px-4 mt-4">
                        <p>La Casa De Bernarda es un drama que tiene muchos ejemplos de discurso feminista. El drama es sobre una familia que es controlado y dirigido por una mujer llamada Bernarda, y sus cincos hijas Angustias (la más vieja), Magdalena, Adela (más joven), Martirio y Amelia. También vive con ellos es Bernardas anciana madre (María Josefa), y un cuidador de la casa (La Poncia). El escenario es de un español pueblo rural llamado, Andalucía, en la década de 1930. Las mujeres viven en una sociedad que es únicamente gobernada por hombres, con todo lo centrado alrededor de los hombres también. Las mujeres no tienen la libertad o la igualdad de derechos como los hombres, y todo lo que hacen está influenciado por los hombres y el sistema social en aquel momento.</p>
                    </div>
                    <h3 class="h2 mt-2">Social Media Contacts</h3>
                    <ul class="social-media">
                        <ul><i class="fab fa-facebook"></i></ul>
                        <ul><i class="fab fa-instagram"></i></ul>
                        <ul><i class="fab fa-twitter"></i></ul>
                        <ul><i class="fab fa-google"></i></ul>
                    </ul>
            </div>
            <div class="d-flex flex-column align-items-center">
              {{#genres book_genres}}
                {{favoritGenres}}
              {{/genres}}
              
              <div class="card w-100">
                  <h5 class="card-header">My Library</h5>
                  <div class="card-body">
                      <p class="card-text">Books that I've read or own</p>
                      <button id="Add-Book" class="btn btn-block btn-success" data-toggle="modal" data-target="#">Add a new book</button>
                  </div>
              </div>

              <div class="card w-100">
                  <h5 class="card-header">Book Clubs</h5>
                  <div class="card-body">
                      <h5 class="card-title">Join a Book Club!</h5>
                      <p class="card-text">Search for a club with similar genre interests or maybe create your own.</p>
                      <a href="#" class="btn btn-primary">Search</a>
                  </div>
              </div>
            </div>
            
        </div>
    </div>
    <script src="/js/logout.js"></script>    
</body>    
